<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonColor</key>
	<dict>
		<key>placeholderColor</key>
		<string>#828282</string>
		<key>lineColor</key>
		<string>#313131</string>
		<key>login_lineColor</key>
		<string>#979797</string>
		<key>disableColor</key>
		<string>#888888</string>
		<key>blackColor </key>
		<string>#000000</string>
		<key>defaultTitleColor</key>
		<string>#ffffff</string>
		<key>defaultBgColor</key>
		<string>#24262C</string>
		<key>defaultSelectedBgColor</key>
		<string>#82ABEC</string>
		<key>WhiteBoardBgColor</key>
		<string>#24262C</string>
		<key>WhiteBoardDrawBoardBgColor</key>
		<string>#2E3037</string>
		<key>whiteBoardTopbar_noCurrent</key>
		<string>#282A30</string>
		<key>PopViewBgColor</key>
		<string>#212121</string>
		<key>ToolBgColor</key>
		<string>#1C1D20</string>
		<key>videoMaskBack_color</key>
		<string>#1C1C1C</string>
		<key>videoBackColor</key>
		<string>#18191D</string>
		<key>login_placeholderColor</key>
		<string>#6D7278</string>
		<key>raiseHandTitleDefaultColor</key>
		<string>#66676B</string>
	</dict>
	<key>CommonImage</key>
	<dict>
		<key>close_btn_icon</key>
		<string>close_btn_icon_skin</string>
		<key>cancel_btn_icon_select</key>
		<string>cancel_skin</string>
	</dict>
	<key>collectBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>collectBoard_normal_skin</string>
		<key>iconSel</key>
		<string>collectBoard_select_skin</string>
	</dict>
	<key>controlTool_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_allScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_allScreen_highLighted_skin</string>
	</dict>
	<key>controlTool_normalScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_normalScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_normalScreen_heightLighed_skin</string>
	</dict>
	<key>controlTool_leftTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_leftTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_leftTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_leftTurn_disable_skin</string>
	</dict>
	<key>controlTool_rightTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_rightTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_rightTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_rightTurn_disable_skin</string>
	</dict>
	<key>controlTool_enlarge</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_enlarge_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_enlarge_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_enlarge_disabled_skin</string>
	</dict>
	<key>controlTool_minimize</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_minimize_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_minimize_highLight_skin</string>
		<key>iconDis</key>
		<string>controlTool_minimize_disabled_skin</string>
	</dict>
	<key>controlTool_return</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_return_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_return_highLight_skin</string>
	</dict>
	<key>controlTool_close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_colse_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_colse_highLight_skin</string>
	</dict>
	<key>controlTool_frash</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_frash_normal_skin</string>
		<key>iconSel</key>
		<string>controlTool_frash_selected_skin</string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_Close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_close_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>topBar_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_allScreen_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_minimze</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_minimize_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
</dict>
</plist>
