<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonColor</key>
	<dict>
		<key>blackColor </key>
		<string>#000000</string>
		<key>defaultTitleColor</key>
		<string>#ffffff</string>
		<key>defaultBgColor</key>
		<string>#24262C</string>
		<key>WhiteBoardBgColor</key>
		<string>#2E3037</string>
		<key>PopViewBgColor</key>
		<string>#212121</string>
		<key>ToolBgColor</key>
		<string>#1C1D20</string>
	</dict>
	<key>CommonImage</key>
	<dict/>
	<key>cancelButton_login</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>backgroundColor</key>
		<string> </string>
		<key>iconNormal</key>
		<string></string>
		<key>iconSelected</key>
		<string></string>
	</dict>
	<key>barScaleBtn</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string>#18191D</string>
		<key>iconNor</key>
		<string>barScale_normal_skin</string>
		<key>iconSel</key>
		<string>barScale_selected_skin</string>
	</dict>
	<key>video_authorizeLab</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>video_authorize_skin</string>
		<key>iconSel</key>
		<string>video_authorizeCancel_skin</string>
	</dict>
	<key>videoPop_soundButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_soundOpen_Skin</string>
		<key>iconSel</key>
		<string>videoPop_soundClose_Skin</string>
	</dict>
	<key>videoPop_authorizeButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_authorizeCancel_skin</string>
		<key>iconSel</key>
		<string>videoPop_authorize_skin</string>
	</dict>
	<key>videoPop_videoButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_videoOpen_skin</string>
		<key>iconSel</key>
		<string>videoPop_videoClose_skin</string>
	</dict>
	<key>videoPop_trophyButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_trophyNo_skin</string>
		<key>iconSel</key>
		<string>videoPop_trophy_skin</string>
	</dict>
	<key>videoPop_resetButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_videoReset_selected_skin</string>
		<key>iconSel</key>
		<string>videoPop_videoReset_skin</string>
	</dict>
	<key>videoPop_seatButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_seatdown_skin</string>
		<key>iconSel</key>
		<string>videoPop_seatOn_skin</string>
	</dict>
	<key>videoPop_mirrorButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_mirrorOpen_skin</string>
		<key>iconSel</key>
		<string>videoPop_mirrorClose_skin</string>
	</dict>
	<key>videoPop_fouceButton</key>
	<dict>
		<key>tittleColor</key>
		<string></string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>videoPop_IsFouceNo_skin</string>
		<key>iconSel</key>
		<string>videoPop_IsFouce_skin</string>
	</dict>
</dict>
</plist>
