<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonColor</key>
	<dict>
		<key>blackColor </key>
		<string>#000000</string>
		<key>defaultTitleColor</key>
		<string>#FFE895</string>
		<key>defaultBgColor</key>
		<string>#9DBEF3</string>
		<key>WhiteBoardBgColor</key>
		<string>#2E3037</string>
		<key>PopViewBgColor</key>
		<string>#336CC7</string>
		<key>ToolBgColor</key>
		<string>#1C1D20</string>
	</dict>
	<key>CommonImage</key>
	<dict/>
	<key>barScaleBtn</key>
	<dict>
		<key>tittleColor</key>
		<string>#</string>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>studentNormalHand</string>
		<key>iconSel</key>
		<string>videlHand</string>
	</dict>
</dict>
</plist>
