<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YSAll.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YSClass.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>YSLive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87133561237270F6006534A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87133702237272B9006534A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8717F66523726D1C0077833F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8717F80523726D2C0077833F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876681F523506EF400C4C635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8766820D23506EF600C4C635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8766821823506EF600C4C635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
