<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonColor</key>
	<dict>
		<key>timer_timeBgColor</key>
		<string>#DEEAFF</string>
		<key>placeholderColor</key>
		<string>#828282</string>
		<key>lineColor</key>
		<string>#313131</string>
		<key>login_lineColor</key>
		<string>#979797</string>
		<key>disableColor</key>
		<string>#888888</string>
		<key>blackColor </key>
		<string>#000000</string>
		<key>defaultTitleColor</key>
		<string>#ffffff</string>
		<key>defaultBgColor</key>
		<string>#24262C</string>
		<key>defaultSelectedBgColor</key>
		<string>#82ABEC</string>
		<key>WhiteBoardBgColor</key>
		<string>#2E3037</string>
		<key>PopViewBgColor</key>
		<string>#212121</string>
		<key>ToolBgColor</key>
		<string>#1C1D20</string>
		<key>videoMaskBack_color</key>
		<string>#1C1C1C</string>
		<key>videoBackColor</key>
		<string>#18191D</string>
		<key>login_placeholderColor</key>
		<string>#6D7278</string>
		<key>raiseHandTitleDefaultColor</key>
		<string>#66676B</string>
		<key>jurisdictionCheckFail</key>
		<string>#FF7D7D</string>
		<key>liveDefaultBgColor</key>
		<string>#F1F6FF</string>
		<key>liveTimeTextColor</key>
		<string>#818181</string>
		<key>liveChatBgColor</key>
		<string>#F6F8FA</string>
	</dict>
	<key>CommonImage</key>
	<dict>
		<key>navigationbar_refresh_icon</key>
		<string>onlineSchool_navigationbar_refresh_icon_skin</string>
		<key>navigationbar_back_icon</key>
		<string>onlineSchool_navigationbar_back_icon_skin</string>
		<key>close_btn_icon</key>
		<string>close_btn_icon_skin</string>
		<key>cancel_btn_icon_select</key>
		<string>cancel_skin</string>
	</dict>
	<key>calendar_nextMonthBtn</key>
	<dict>
		<key>iconNor</key>
		<string>onlineSchool_nextMonth_normal_skin</string>
		<key>iconSel</key>
		<string>onlineSchool_nextMonth_select_skin</string>
	</dict>
	<key>calendar_lastMonthBtn</key>
	<dict>
		<key>iconNor</key>
		<string>onlineSchool_lastMonth_normal_skin</string>
		<key>iconSel</key>
		<string>onlineSchool_lastMonth_select_skin</string>
	</dict>
	<key>tabbar_timeTable</key>
	<dict>
		<key>iconNor</key>
		<string>timeTable_normal_skin</string>
		<key>iconSel</key>
		<string>timeTable_highLight_skin</string>
	</dict>
	<key>tabbar_personal</key>
	<dict>
		<key>iconNor</key>
		<string>personal_normal_skin</string>
		<key>iconSel</key>
		<string>personal_high_skin</string>
	</dict>
</dict>
</plist>
