<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonColor</key>
	<dict>
		<key>WBBgColor</key>
		<string>#2E3037</string>
		<key>WhiteColor</key>
		<string>#FFFFFF</string>
		<key>Color1</key>
		<string>#2E3037</string>
		<key>Color2</key>
		<string>#1C1D20</string>
		<key>Color3</key>
		<string>#FFFFFF</string>
		<key>Color4</key>
		<string>#82ABEC</string>
		<key>Color5</key>
		<string>#FFFFFF</string>
		<key>Color6</key>
		<string>#FFFFFF</string>
		<key>Color7</key>
		<string>#313131</string>
		<key>PlaceholderColor</key>
		<string>#6D7278</string>
		<key>Live_WhiteBoardBgColor</key>
		<string>#F1F6FF</string>
		<key>Live_WhiteBoardDrawBoardBgColor</key>
		<string>#DCE2F1</string>
		<key>smallStageColor_answer</key>
		<string>#49C888</string>
		<key>smallStageColor_comment</key>
		<string>#82ABEC</string>
	</dict>
	<key>CommonImage</key>
	<dict>
		<key>close_btn_icon</key>
		<string>controlTool_close_normal_skin</string>
		<key>cancel_btn_icon_select</key>
		<string>cancel_skin</string>
	</dict>
	<key>collectBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>collectBoard_normal_skin</string>
		<key>iconSel</key>
		<string>collectBoard_select_skin</string>
	</dict>
	<key>controlTool_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_allScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_allScreen_highLighted_skin</string>
	</dict>
	<key>controlTool_normalScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_normalScreen_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_normalScreen_heightLighed_skin</string>
	</dict>
	<key>controlTool_leftTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_leftTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_leftTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_leftTurn_disable_skin</string>
	</dict>
	<key>controlTool_rightTurn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_rightTurn_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_rightTurn_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_rightTurn_disable_skin</string>
	</dict>
	<key>controlTool_enlarge</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_enlarge_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_enlarge_highLighted_skin</string>
		<key>iconDis</key>
		<string>controlTool_enlarge_disabled_skin</string>
	</dict>
	<key>controlTool_minimize</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_minimize_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_minimize_highLight_skin</string>
		<key>iconDis</key>
		<string>controlTool_minimize_disabled_skin</string>
	</dict>
	<key>controlTool_return</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_return_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_return_highLight_skin</string>
	</dict>
	<key>controlTool_close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_close_normal_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string>controlTool_close_highLight_skin</string>
	</dict>
	<key>controlTool_frash</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>controlTool_frash_normal_skin</string>
		<key>iconSel</key>
		<string>controlTool_frash_selected_skin</string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_Close</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_close_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>topBar_allScreen</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_allScreen_skin</string>
		<key>iconSel</key>
		<string></string>
		<key>iconHigh</key>
		<string></string>
	</dict>
	<key>topBar_minimze</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>topBar_minimize_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>media_play</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>wb_media_play_nor_skin</string>
		<key>iconSel</key>
		<string>wb_media_play_sel_skin</string>
	</dict>
	<key>media_slider</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>wb_media_slider_nor_skin</string>
		<key>iconSel</key>
		<string></string>
	</dict>
	<key>laser_point</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>laser_point_nor_skin</string>
	</dict>
	<key>small_imageBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>smallBoard_imageBtn_skin</string>
	</dict>
	<key>small_deleteImageBtn</key>
	<dict>
		<key>bgColor</key>
		<string></string>
		<key>iconNor</key>
		<string>smallBoard_deleteimageBtn_skin</string>
	</dict>
</dict>
</plist>
