<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultTitleColor</key>
	<string>#ffffff</string>
	<key>defaultBgColor</key>
	<string></string>
	<key>defaultWhiteBoardBgColor</key>
	<string></string>
	<key>cancelButton_login</key>
	<dict>
		<key>tittleColor</key>
		<string>#</string>
		<key>backgroundColor</key>
		<string> </string>
		<key>iconNormal</key>
		<string></string>
		<key>iconSelected</key>
		<string></string>
	</dict>
</dict>
</plist>
